.barramenu{
    display:flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(167,18,203), rgb(87,2,116));
    height: 53px;
    width: 100vw;
    color: #ffffff;
}

.juncao{
    display: flex;
    align-items: center;
}

.barraimg{
    display: inline-block;
    margin-left: 30px;
    height:27px;
    margin-bottom: 5px;
}

.nomeBarraCatalogo{
    display: inline-block;
    margin-left: 10px;
    width: 170px;
    font-size: 15px;
    margin-bottom: 3px;
    font-weight: bold;
}

.englob{
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-left: -100px;
    margin-right: 25px;
}

.fundoBarraPesquisa{
    color: rgb(189,133,197);
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1px;
    display: flex;
    margin-top: 1px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: white;
    border-style: none;
    height:27px;
    width: 700px;
    margin-left: 160px;
    margin-right: 20px;
    border-radius: 15px;
}
 
.fundoBarraPesquisa:focus{
    outline: none;
}

.textobarrapesquisa{
    color: rgb(189,133,197);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1px;
}

.imagemPesquisar{
    transform: scaleX(1);
    position: absolute;
    right:355px;
    top:18px;
    cursor: pointer;
}

.botaoPesquisa{
    position: absolute;
    right:337px;
    width:60px;
    top:15px;
    border: none;
    height:25px;
    cursor: pointer;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    outline: 2px solid rgba(0, 0, 0, 0.242) ;
}

.logoimg{
    height:50px;
    margin-right: 50px;
    margin-top: 6px;
}
    
.perfilimg{
    cursor: pointer;
    height:35px;

}
    
.cadastroimg{
    height:35px;
    margin-left: 7px;
}

.juntar2{
    display: flex;
    margin-left: 10px;
    margin-right: 25px;
}

.barraconteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    height:35px;
    width: 100vw;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.267);
    background: white;
}

.conteudos{
    display: flex;
    align-items: center;
    font-family: minhafont;
    font-size: 15px;
    cursor: pointer;
    color: rgb(101,5,132);
}

.tamanhoCupo{
    margin-right: 5px;
    height:17px;
    cursor: pointer;
}
    
.tamanhoNoti{
    margin-right: 5px;
    height:22px;
    cursor: pointer;
}
    
.tamanhoConv{
    margin-right: 5px;
    height:23px;
    cursor: pointer;
}
    
.tamanhoPedi{
    margin-right: 5px;
    height:22px;
    cursor: pointer;
}
    
.tamanhoSuge{
    margin-right: 5px;
    height:22px;
    cursor: pointer;
}
    
.tamanhoFavo{
    margin-right: 5px;
    height:29px;
    cursor: pointer;
}
    
.tamanhoSupo{
    height:25px;
    cursor: pointer;
}
    
.tamanhoCest{
    margin-right: 5px;
    height:20px;
    cursor: pointer;
}
    
.tamanhoCada{
    margin-top: 8px;
    margin-right: 5px;
    height:24px;
    cursor: pointer;
    font-family: minhafont;
}

.tamanhoCustom{
    margin-bottom: -2px;
    height:24px;
    margin-top: 7px;
    cursor: pointer;
    font-family: minhafont;
}

.barra_informacoes{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100vw;
    height:27px;
    background: linear-gradient(rgb(167,18,203), rgb(87,2,116));
}

.info1{
    font-family: bahRegular;
    color:white;
    font-size: 13px;
}

.info2{
    font-family: bahRegular;
    color:white;
    font-size: 13px;
}

.info3{
    font-family: bahRegular;
    color:white;
    font-size: 13px;
}

.info4{
    font-family: bahRegular;
    font-size: 13px;
    color:white;
}

.centro{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barra_informacoes p{
    white-space: nowrap;
    margin-left: 30px;
    margin-right: 25px;
}

.containerInfos{
    margin-left: -1300px;
    position: relative;
    width: auto;
    display: flex;
}

.containerDoContainer{
    width: 1350px;
    display: flex;
    overflow: hidden;
}

.cadastrese{
    font-weight: bold;
    color: rgb(1, 232, 1);
    border: 2px solid rgb(1, 232, 1);
    width: 90px;
    border-radius: 50px;
    padding-left: 6px;
    cursor: pointer;
    padding-right: 6px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    font-size: 13px;
}

.entrar{
    background: rgb(1, 106, 1);
    display: flex;
    align-items: center;
    border-radius: 40px;
    width: 55px;
    cursor: pointer;
    font-size: 13px;
    font-family: minhafont;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: -10px;
    font-weight: 600;
    color: white;
    box-shadow: inset 0px 3px 6px rgb(93, 165, 100);
}

.organizar{
    display: flex;
    flex-direction: column;
    width:110px;
    align-items: center;
}

.organizarBorda{
    border: 0.5px solid rgb(101,5,132);
    border-radius: 10px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.48);
}