.rodape_maisinfo{
    display: flex;
    justify-content: center;
    width: 100vw;
    height:50px;
    margin-top: 150px;
    align-items: flex-end;
    background: rgb(214, 182, 222);
}

.rodape_maisinfo_person{
    font-family: semiBold;
    color:rgb(52, 52, 52);
}

.rodape_barra{
    height: 100%;
    width: 3px;
    background: white;
}

.rodape{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 300px;
    background: rgb(217,203,222);
}

.rodape_pagamentos{
    grid-area: pagamentos;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nome_rodape_pagamento{
    text-align: center;
    color: rgb(52, 52, 52);
    font-weight: bold;
    font-size: 20px;
    width: 300px;
    margin-left: 35px;
    margin-top: 35px;
}

.organizar_pagamento{
    display: flex;
    margin-top: 20px;
}

.pagamento_cartao{
    width: 140px;
    text-align: center;
    font-size: 20px;
    color: rgb(52, 52, 52);
    font-family: segoeRegular;
    margin-left: 5px;
}

.pagamento_pix{
    font-size: 25px;
    color: rgb(52, 52, 52);
    font-family: segoeRegular;
    margin-left: 5px;
}

.pagamento_boleto{
    font-size: 25px;
    color: rgb(52, 52, 52);
    margin-left: 5px;
    font-family: segoeRegular;
}

.rodape_logo{
    grid-area: logo;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.rodape_objetivo{
    margin-top: -10px;
    margin-bottom: 20px;
    font-family: semiBold;
    width: 320px;
    text-align: center;
    font-size: 20px;
    color: rgb(52, 52, 52);
}

.nome_plataformas{
    color: rgb(52, 52, 52);
    font-size: 20px;
    font-family: semiBold;
}

.nome_rodape_contato{
    width: 400px;
    color: rgb(52, 52, 52);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 35px;
}

.rodape_contato{
    grid-area: contato;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contatos{
    color: rgb(52, 52, 52);
    font-size: 17px;
    font-family: semiBold;
    margin-bottom: 5px;
}

.rodape_termos{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    font-size: 20px;
    color: rgb(52, 52, 52);
    font-weight: bold;
    grid-area: termos;
}

.alinhar_rodape{
    display: grid;
    grid-template-areas: 
        "pagamentos logo contato"
        "termos termos termos";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    justify-content: center;
    width: 1359px;
}

.alinhar_maisinfo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
    font-family: semiBold;
    width: 1359px;
    height: 100%;
}